/* HEADER */
.cabecalho__container {
  display: flex; /* Alinha itens lado a lado, centraliza verticalmente */
  justify-content: space-between; /* Espaço igual entre os elementos */
  align-items: center; /* Alinhamento vertical no centro */
  position: fixed; /* Fixo no topo da tela */
  top: 0; /* Posicionamento no topo da viewport */
}

.cabecalho__pesquisar__item {
  display: none; /* Oculto em telas < 834px */
}

/* MENU LATERAL */
.menu__container {
  position: fixed; /* Fixa o menu na tela, independente do rolar da página */
  bottom: 0%; /* Posiciona o menu na parte inferior da tela */
  height: 74px; /* Altura do menu */
  width: 100%; /* Largura total da tela */
}

.menu__lista {
  display: flex; /* Exibe os itens da lista em linha */
  justify-content: space-around; /* Distribui o espaço igualmente entre os itens */
  height: 100%; /* A altura da lista é 100% da altura do contêiner pai */
}

.menu__lista li {
  align-self: center; /* Alinha verticalmente os itens no centro da lista */
}

.menu__itens {
  display: flex; /* Exibe os itens em linha */
  flex-direction: column; /* Organiza os itens na direção vertical */
  gap: 5px; /* Adiciona um espaçamento de 5 pixels entre os itens */
}

/* Esconde itens específicos do menu */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
  display: none; /* Oculta o segundo, terceiro e quarto itens da lista */
}

/* SEÇÃO SUPERIOR */
.superior__secao__container {
  display: flex; /* Flex container: alinha itens lado a lado */
  align-items: center; /* Alinhamento vertical no centro */
  white-space: nowrap; /* Impede a quebra de texto para manter na mesma linha */
  overflow: scroll; /* Adiciona rolagem horizontal se os itens não couberem */
  gap: 15px; /* Define um espaçamento entre os itens */
}

/* VIDEO */
.videos__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaçamento entre os itens */
}

.videos__item {
  height: 303px;
  width: 280px;
  flex-grow: 1; /* Cresce para preencher espaço disponível */
}

/* FOOTER */
.rodape__container {
  display: flex; /* Flex container para layout responsivo */
  flex-flow: column wrap; /* Coluna em telas estreitas, quebra para a próxima linha se necessário, o mesmo que flex-drection: colum; flex-wrap: wrap; */
}

/* RESPONSIVO (largura mínima de 834px) */
@media (min-width: 834px) {
  .cabecalho__pesquisar__item {
    display: block; /* Exibe o item de pesquisa no cabeçalho */
  }
  .rodape__container {
    justify-content: space-between; /* Espaço igual entre os itens do rodapé */
  }
  .menu__container {
    left: 0; /* Posiciona o menu na parte esquerda da tela */
    top: 80px;
    height: auto; /* Altura do menu */
    width: 74px; /* Largura total da tela */
  }
  .menu__lista {
    flex-direction: column; /* Itens dispostos em coluna */
    justify-content: flex-start; /* Alinha os itens ao início do contêiner */
    gap: 33px; /* Adiciona espaçamento entre os itens */
    padding-top: 15px; /* Adiciona espaçamento no topo do contêiner */
  }
}

/* RESPONSIVO (largura mínima de 1440px */
@media (min-width: 1440px) {
  .menu__container {
    width: 239px;
    overflow: scroll;
  }

  /* Exibe os itens de menu específicos */
  .menu__lista:nth-child(2),
  .menu__lista:nth-child(3),
  .menu__lista:nth-child(4) {
    display: flex;
  }

  /* Ajustes na lista de menu */
  .menu__lista {
    height: auto; /* Altura automática */
    padding: 20px 17px 20px 15px; /* Espaçamento interno */
    gap: 15px;
  }

  /* Itens do menu em telas largas */
  .menu__itens {
    flex-direction: row; /* Linha */
    gap: 15px; /* Espaçamento */
    align-items: center; /* Centralizado verticalmente */
  }

  /* Estilo inverso para o terceiro item da lista */
  .menu__lista:nth-child(3) {
    flex-direction: column-reverse; /* Coluna inversa */
  }

  /* Ordem dos itens internos */
  .jogos {
    order: 3;
  }
  .filmes {
    order: 2;
  }
  .premium {
    order: 1;
  }
  .maispagina {
    order: 4;
  }
}
