body {
  display: grid; /* Define um layout de grid para o corpo do documento */
  grid-template-areas: 'aside header' 'aside main'; /* Especifica as áreas do grid */
  grid-template-columns: auto 1fr; /* Define as colunas, 'auto' para a área lateral e '1fr' para a principal */
}

.cabecalho {
  grid-area: header;
}

.menu-lateral {
  grid-area: aside;
}

.principal {
  grid-area: main;
}
