@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Montserrat:wght@300&family=Montserrat:wght@700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --bg-color: #0aa1dd;
  --primary-color: #e8f9fd;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: 300;
}

.mensagem {
  font-size: 1.5rem;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4rem;
  padding: 10px;
  margin: 20px;
  font-weight: 100;
}

.btn {
  cursor: pointer;
  padding: 16px 32px;
  background: var(--primary-color);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #0aa1dd;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.gameover {
  color: black;
}
